body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
    background: linear-gradient(
      rgba(86, 172, 99, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    #000;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
    color: #ffffff;
}

.custom-nav {
  background: rgba(0,0,0,0.9);
}

.logo {
  width: 40px;
}

.hero {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(86, 172, 99, 0.35), rgba(0,0,0,0.35)),
              #000;
  color: #fbfffc;
  display: flex;
  align-items: center;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}
.hero h2{
  line-height: 1.5;
  font-size: 3rem;
}

.hero-para{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 1.1rem;

}
.section {
  padding: 80px 0;
}

.about-text {
  font-size: 2.5rem;
  font-weight: 500;
}

.service-card {
  background: #111;
  color: #9acd32;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
}

.work-img {
  border-radius: 10px;
}

.brand-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.brand-card img {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
  /* filter: grayscale(100%); */
  transition: all 0.3s ease;
}

.brand-card:hover {
  transform: translateY(-6px);
}

.brand-card:hover img {
  filter: grayscale(0%);
}

.about-text {
  max-width: 800px;
  margin: auto;
  font-size: 1.05rem;
  line-height: 1.8;
}

.footer {
  background: #000;
  color: #f5f6f2;
  text-align: center;
  padding: 20px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  animation: pulse 1.5s infinite;
} 
.contact-card {
  background:#dd161600;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
}

.contact-card p {
  margin: 10px 0;
  font-weight: 500;
}

.contact-card a {
  color: #dee4de;
  text-decoration: none;
}

.contact-socials {
  margin-top: 15px;
}

.contact-socials a {
  font-size: 15px;
  margin-right: 15px;
  color: #e8f2e9;
}
.map {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
